/*-- General --*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  background-color: var(--snow-white);
  color: var(--very-dark-cyan);
  width: 100%;
  height: 100vh;
}

:root {
  --pink: hsl(322, 100%, 66%);
  --light-pink: hsl(321, 100%, 78%);
  --light-red: hsl(0, 100%, 63%);
  --very-dark-cyan: hsl(192, 100%, 9%);
  --very-pale-blue: hsl(207, 100%, 98%);
  --white: hsl(0, 0%, 100%);
  --gray: #808e9a;
  --snow-white: #ffffff;
  --green: #1ac888;
}

/*-- Header --*/

.section-header {
  padding: 1.75rem 1.5rem;
}

.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 6rem;
  height: 1rem;
}

.btn-logo {
  background-color: hsl(0, 0%, 100%);
  border: 1px solid hsl(322, 100%, 66%);
  border-radius: 1rem;
  padding: 0.31rem 1rem;
  color: hsl(0, 0%, 100%);
  cursor: pointer;
}

.btn-logo:hover {
  background-color: hsl(321, 100%, 78%);
}

.btn-text {
  font-family: "Poppins", sans-serif;
  font-size: 0.8rem;
  color: hsl(322, 100%, 66%);
  text-decoration: none;
}

/*-- Main --*/

.section-header-content {
  padding-top: 7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 2rem;
}

.header-title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
}

.header-text {
  font-size: 0.9rem;
  color: hsl(192, 100%, 9%);
}

.btn-get-started {
  background-color: hsl(322, 100%, 66%);
  border: 1px solid hsl(322, 100%, 66%);
  border-radius: 1rem;
  padding: 0.68rem 2.5rem;
  color: hsl(0, 0%, 100%);
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: 700;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.btn-get-started:hover {
  background-color: hsl(321, 100%, 78%);
}

.mockups-img {
  background-image: url("./images/screen-mockups.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
}

/*-- Communities --*/

.communities-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5.5rem;
  padding-top: 7.5rem;
}

.communities {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1.3rem;
}

.communities-text {
  text-align: center;
  font-size: 3.8rem;
  font-weight: 700;
}

.communities-text-sub {
  align-self: center;
  font-size: 1rem;
  color: var(--gray);
}

.communities-icon {
  width: 29px;
  height: 26px;
}

/*-- Grow Together --*/

.top-bg {
  background-image: url("./images/bg-section-top-mobile-1.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  width: 100%;
  height: 100px;
}

.bottom-bg {
  background-image: url("./images/bg-section-bottom-mobile-1.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  width: 100%;
  height: 100px;
}

.grow-container {
  padding-inline: 1.5rem;
  background-color: var(--very-pale-blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
}

.grow-image {
  width: 100%;
  height: 100%;
}

.grow-title {
  font-size: 1.25rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 1rem;
}

.grow-text {
  font-size: 0.8rem;
  text-align: center;
  color: var(--gray);
  margin-bottom: 1rem;
}

/*-- Flowing Conversations --*/

.section-flowing {
  padding-top: 4.2rem;
  padding-inline: 1.5rem;
}

.flowing-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
  padding-inline: 1.25rem;
}

/*-- Your Users --*/

.section-users {
  width: 100%;
  height: auto;
  padding-top: 7.5rem;
}

.top-bg-users {
  background-image: url("./images/bg-section-top-mobile-2.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  width: 100%;
  height: 100px;
}

.bottom-bg-users {
  background-image: url("./images/bg-section-bottom-mobile-2.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  width: 100%;
  height: 100px;
}

/*-- Section End --*/

.section-end {
  padding-top: 7.5rem;
  padding-bottom: 15rem;
}

.section-end-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
}

/*-- Footer --*/

.top-bg-footer {
  background-image: url("./images/bg-footer-top-mobile.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  width: 100%;
  height: 100px;
}

.footer-container {
  background-color: var(--very-dark-cyan);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6.5rem;
  padding-top: 6.5rem;
  padding-bottom: 3rem;
}

.newsletter {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 1rem;
  padding-left: 1.75rem;
}

.newsletter-title {
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--white);
}

.newsletter-text {
  font-size: 0.8rem;
  color: var(--white);
}

.newsletter-input {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
  width: 100%;
  padding-right: 1.5rem;
}

.newsletter-email {
  background-color: var(--white);
  border-radius: 0.5rem;
  width: 100%;
  height: 48px;
}

.newsletter-input button {
  background-color: var(--pink);
  border-radius: 0.5rem;
  width: 160px;
  height: 48px;
  color: var(--white);
  font-weight: 700;
  border: none;
  cursor: pointer;
}

.footer-bottom {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.footer-logo {
  filter: invert(1) brightness(150%) grayscale(100%);
  width: 200px;
  height: 32px;
  margin-bottom: 1rem;
}

.footer-text {
  font-size: 0.8rem;
  color: var(--white);
  margin-bottom: 2.5rem;
}

a {
  text-decoration: none;
  color: var(--white);
  font-size: 0.8rem;
  margin-bottom: 1rem;
}

.icon {
  width: 24px;
  height: 24px;
  margin-right: 1rem;
}

.social-media {
    margin-top: 3rem;
}

.social-media-icon {
  width: 24px;
  height: 24px;
  margin-right: 1rem;
}

@media screen and (min-width: 1024px) {
  /*-- Header --*/
  .section-header {
    padding: 4.87rem 3.75rem 4.87rem 5rem;
  }
  .logo {
    width: 15rem;
    height: 2.37rem;
  }

  .btn-logo {
    padding: 0.56rem 1.93rem;
  }

  .section-header-content {
    padding-top: 14rem;
  }

  .header-title {
    font-size: 2.5rem;
  }

  .header-text {
    font-size: 1rem;
    width: 600px;
    height: 90px;
  }

  /*-- Main --*/

  .btn-get-started {
    padding: 1.56rem 6.25rem;
    font-size: 1rem;
    border-radius: 2rem;
  }

  /*-- Communities --*/

  .communities-container {
    flex-direction: row;
    justify-content: space-around;
    padding-top: 7.5rem;
  }

  .communities-icon {
    width: 49px;
    height: 50px;
  }

  .communities-text {
    font-size: 6rem;
  }

  .communities-text-sub {
    font-size: 1.5rem;
  }

  /*-- Grow Together --*/

  .top-bg {
    background-image: url("./images/bg-section-top-desktop-1.svg");
    height: 200px;
  }

  .bottom-bg {
    background-image: url("./images/bg-section-bottom-desktop-1.svg");
    height: 200px;
  }

  .grow-container {
    padding-inline: 7.5rem;
    flex-direction: row-reverse;
    gap: 6.25rem;
  }

  .grow-title {
    font-size: 2.5rem;
    margin-bottom: 1.6rem;
  }

  .grow-text {
    font-size: 1rem;
    width: 520px;
    height: 72px;
  }

  /*-- Flowing Conversations --*/

  .flowing-container {
    flex-direction: row;
    padding-inline: 0;
    gap: 7.5rem;
  }

  .section-flowing {
    padding-top: 8.3rem;
    padding-inline: 7.5rem;
  }

  /*-- Your Users --*/

  .top-bg-users {
    background-image: url("./images/bg-section-top-desktop-2.svg");
    height: 200px;
  }

  .bottom-bg-users {
    background-image: url("./images/bg-section-bottom-desktop-2.svg");
    height: 200px;
  }

  /*-- Footer --*/

  .top-bg-footer {
    background-image: url("./images/bg-footer-top-desktop.svg");
    height: 200px;
  }

  .footer-container {
    flex-direction: row-reverse;
    justify-content: space-between;
    padding-inline: 7.5rem;
    gap: 22rem;
  }

  .social-media-icon {
    width: 32px;
    height: 32px;
  }


  .newsletter-title {
    font-size: 1.5rem;
  }

  .newsletter-input {
    flex-direction: row;
    gap: 2.5rem;
  }
}

/*-- Effects and transitions --*/

.btn-logo,
.btn-get-started,
.newsletter-input button,
.social-media-icon {
  transition: all 0.3s ease-in-out;
}

.btn-logo:hover,
.btn-get-started:hover,
.newsletter-input button:hover {
  transform: translateY(-2px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  opacity: 0.8;
}

.social-media-icon {
  cursor: pointer;
  transition: transform 0.3s ease;
}

.social-media-icon:hover {
  transform: scale(1.2);
  filter:brightness(1.2);
}

/*-- Form validation --*/

.newsletter-email {
  padding: 0 1rem;
  outline: none;
  border: 2px solid transparent;
}

.newsletter-email:focus {
  border-color: var(--pink);
}

.newsletter-email:invalid {
  border-color: var(--light-red);
}

.newsletter-email:valid {
  border-color: var(--green);
}

/*-- Animation --*/

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.section-header-content > *,
.communities,
.grow-container > *,
.flowing-container > *,
.section-users > *,
.section-end-content > * {
  opacity: 0;
  animation: fadeInUp 0.8s ease-out forwards;
}

/* Add different delays for children elements */
.section-header-content > *:nth-child(1) { animation-delay: 0.4s; }
.section-header-content > *:nth-child(2) { animation-delay: 0.6s; }
.section-header-content > *:nth-child(3) { animation-delay: 0.8s; }

.communities:nth-child(1) { animation-delay: 0.5s; }
.communities:nth-child(2) { animation-delay: 0.7s; }
